*{
margin: 0;
padding: 0;

}
@import url(https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap);
html
{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}

body {
  color:#111111;
  font-size:1.4rem;
  line-height:1.6;
}

/* chat girl lower right bottom */
.combank-chat {
  position: fixed;
  margin: 10px;
  right: 10px;
  bottom: 10px;
  display: inline-block;
  z-index: 2;
}

.HandOut {
  position: absolute;
  display: none;
  right: 0px;
  bottom: 0px;

}

.combank-chat:hover .HandOut {
  display: inline-block;
}

.combank-chat:hover .HandOpen {
  display: none;
}

/* Language site */

.top_nav{
  background: #fafafa;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  flex-wrap: wrap;
}


.multilingual-options{
    list-style: none;
    display:inline-flex;
    gap: 10px;
    font-size: 12px;
    color: darkgrey;
    
    
}

.fsize{
  font-size: 15px;
}
.secondary-menu-container{
  display: flex;
  list-style: none;
}
.footer_bottom{
  background-color: #111111;
  
}

.footer_mid_col{
  color: darkgray;
  font-size: 16px;
}

.social{

  display: inline-flex;
  list-style: none;
 
  
}

.bottom_Social{
  padding: 10px;
 
}

.column{
  color: #e5e5e5;
 list-style: none;

}

.column l {
  color: #e5e5e5;
  font-size: 20px;
}